XSRF_TOKEN=""
SESSION_TOKEN=""
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
ACCEPT="text/html,application/xhtml+xml,application/xml"
CONNECT_TIMEOUT="10"
MAX_TIME="30"
INSECURE="true"
FOLLOW_REDIRECTS="true"
MAX_REDIRECTS="10"
MIN_LOG_LEVEL="INFO"
LOG_HEADERS="false"